## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [42]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

### Resolução do execício 1.1):

In [43]:
# 1) Seu código aqui
prova = {'mat':24, 'por':18, 'geo':8, 'ing':8, 'his':8, 'fis':12, 'qui':12}

qt_prova = pd.DataFrame(data=[prova])
qt_prova

   mat  por  geo  ing  his  fis  qui
0   24   18    8    8    8   12   12

In [44]:
# lista com Data Frames das notas.
acertos = [df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui]

# Lista com os nomes das colunas (matérias)
colunas = ['mat', 'por', 'geo', 'ing', 'his', 'fis', 'qui']

#DataFrame vazio com o número de linhas igual ao de alunos (100 alunos)
df_notas = pd.DataFrame(index=range(100))

#Adicionando cada dataframe como coluna
for i, df in enumerate(acertos):
    df_notas[colunas[i]] = df['Qt_acertos']

df_notas

    mat  por  geo  ing  his  fis  qui
0     6    7    7    3    1    8    3
1    19   10    0    0    0   11    8
2    14   16    0    5    7    4    4
3    10    7    3    4    0    0    8
4     7    2    2    7    0    9    3
..  ...  ...  ...  ...  ...  ...  ...
95    6    4    7    1    4    9    3
96    8    1    4    6    1    4    3
97   23    5    0    2    4    1    5
98    0   10    3    1    5   10   11
99   11   15    0    1    6    7    2

[100 rows x 7 columns]

In [45]:
# Criando dataframe com percentual de notas
df_prct = pd.DataFrame(index=df_notas.index)
for coluna in colunas:
    df_prct[coluna] = (df_notas[coluna] / qt_prova[coluna].values[0]*100).round(2)

# Df com percentual de acertos dos alunos por matéria
df_prct

      mat    por   geo   ing   his    fis    qui
0   25.00  38.89  87.5  37.5  12.5  66.67  25.00
1   79.17  55.56   0.0   0.0   0.0  91.67  66.67
2   58.33  88.89   0.0  62.5  87.5  33.33  33.33
3   41.67  38.89  37.5  50.0   0.0   0.00  66.67
4   29.17  11.11  25.0  87.5   0.0  75.00  25.00
..    ...    ...   ...   ...   ...    ...    ...
95  25.00  22.22  87.5  12.5  50.0  75.00  25.00
96  33.33   5.56  50.0  75.0  12.5  33.33  25.00
97  95.83  27.78   0.0  25.0  50.0   8.33  41.67
98   0.00  55.56  37.5  12.5  62.5  83.33  91.67
99  45.83  83.33   0.0  12.5  75.0  58.33  16.67

[100 rows x 7 columns]

### Resolunção do exercício 1.2):

In [46]:
# 2) Seu código aqui
# Somando os acertos de todas na coluna total 
df_notas['total'] = df_notas.sum(axis=1)
df_notas

    mat  por  geo  ing  his  fis  qui  total
0     6    7    7    3    1    8    3     35
1    19   10    0    0    0   11    8     48
2    14   16    0    5    7    4    4     50
3    10    7    3    4    0    0    8     32
4     7    2    2    7    0    9    3     30
..  ...  ...  ...  ...  ...  ...  ...    ...
95    6    4    7    1    4    9    3     34
96    8    1    4    6    1    4    3     27
97   23    5    0    2    4    1    5     40
98    0   10    3    1    5   10   11     40
99   11   15    0    1    6    7    2     42

[100 rows x 8 columns]

### Resolunção do exercício 1.3):

In [57]:
# 3) Seu código aqui
#Total de questões da prova
tot_qt = qt_prova.sum(axis=1)

#Adicionando coluna de % de acertos dividindo o total de acertos pelo total de questões. 
df_notas['%_acertos'] = ((df_notas['total'] / tot_qt[0])*100).round(2)
df_notas

    mat  por  geo  ing  his  fis  qui  total  %_acertos
0     6    7    7    3    1    8    3     35      38.89
1    19   10    0    0    0   11    8     48      53.33
2    14   16    0    5    7    4    4     50      55.56
3    10    7    3    4    0    0    8     32      35.56
4     7    2    2    7    0    9    3     30      33.33
..  ...  ...  ...  ...  ...  ...  ...    ...        ...
95    6    4    7    1    4    9    3     34      37.78
96    8    1    4    6    1    4    3     27      30.00
97   23    5    0    2    4    1    5     40      44.44
98    0   10    3    1    5   10   11     40      44.44
99   11   15    0    1    6    7    2     42      46.67

[100 rows x 9 columns]

### Resolunção do exercício 1.4):

In [66]:
# 4) Seu código aqui
#adicina nova coluna 'aprovado', que recebe 1 se a nota for superior à 45 e 0 para notas abaixo disso.
df_notas['aprovado'] = (df_notas['total'] > 45).astype(int)
df_notas

    mat  por  geo  ing  his  fis  qui  total  %_acertos  aprovado
0     6    7    7    3    1    8    3     35      38.89         0
1    19   10    0    0    0   11    8     48      53.33         1
2    14   16    0    5    7    4    4     50      55.56         1
3    10    7    3    4    0    0    8     32      35.56         0
4     7    2    2    7    0    9    3     30      33.33         0
..  ...  ...  ...  ...  ...  ...  ...    ...        ...       ...
95    6    4    7    1    4    9    3     34      37.78         0
96    8    1    4    6    1    4    3     27      30.00         0
97   23    5    0    2    4    1    5     40      44.44         0
98    0   10    3    1    5   10   11     40      44.44         0
99   11   15    0    1    6    7    2     42      46.67         0

[100 rows x 10 columns]

In [67]:
#Calcula total de alunos com mais de 45 acertos
aprovados = df_notas['aprovado'].sum()
print(f'Apenas {aprovados} alunos alcançaram 45 acertos ou mais')

Apenas 31 alunos alcançaram 45 acertos ou mais

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

### Resolunção do exercício 2.1):

In [76]:
# seu código aqui
#DataFrame com as colunas 'mat', 'fis' e 'qui'
df_eliminados = df_notas[['mat', 'fis', 'qui']]
# Vorifica se a linha tem o valor 0
df_eliminados = df_eliminados.apply(lambda row: any(row == 0), axis=1)
#Criando um DataFrame com os alunos desqualificados
df_eliminados = df_notas[df_eliminados]
df_eliminados

    mat  por  geo  ing  his  fis  qui  total  %_acertos  aprovado
3    10    7    3    4    0    0    8     32      35.56         0
6     6    0    7    7    5    0    4     29      32.22         0
10   10    8    3    2    1    7    0     31      34.44         0
12   20    8    3    7    1    0    3     42      46.67         0
14    7   11    1    7    1    4    0     31      34.44         0
20   23   11    6    5    6    2    0     53      58.89         1
25    0    4    7    4    0    4    8     27      30.00         0
26   11   14    6    2    7    0    0     40      44.44         0
27   21   13    1    5    7    3    0     50      55.56         1
33   14    8    0    5    6    6    0     39      43.33         0
35   11   14    6    3    3    0   11     48      53.33         1
49    8    1    1    0    1    0    8     19      21.11         0
56    7    6    7    5    6    0    8     39      43.33         0
65    1    8    2    4    3    0    6     24      26.67         0
66    5    4    3    6    3    0   10     31      34.44         0
72   11   16    3    4    7    0    9     50      55.56         1
73    1   16    2    4    3    0   11     37      41.11         0
74    9   11    0    7    5    7    0     39      43.33         0
84   15    1    0    5    1    0    4     26      28.89         0
89   23   11    7    7    6    9    0     63      70.00         1
92   14   10    1    6    1    8    0     40      44.44         0
94    0    5    2    6    1    3    8     25      27.78         0
98    0   10    3    1    5   10   11     40      44.44         0

### Resolunção do exercício 2.2):

In [80]:
qt_eliminado = df_eliminados.shape[0]
print(f'{qt_eliminado} alunos foram eliminados no vestibular por "zerar" em Matemática, física ou química.')

23 alunos foram eliminados no vestibular por "zerar" em Matemática, física ou química.

### Resolunção do exercício 2.3):

In [83]:
# calculando média das notas dos alunos eliminados em geografia e história 
df_eliminados[['his', 'geo']].mean()

his    3.434783
geo    3.217391
dtype: float64

### Resolução do exercício 2.4):

In [109]:
#  DataFrame com os alunos que obtiveram 45 acertos ou mais na prova e não "Zeraram" em matematica, física e química
#  passaram para a segunda fase do vestibular.
df_2fase = df_notas[(df_notas['aprovado'] == 1) & ~(df_notas[['mat', 'fis', 'qui']] == 0).any(axis=1)]

df_2fase

    mat  por  geo  ing  his  fis  qui  total  %_acertos  aprovado
1    19   10    0    0    0   11    8     48      53.33         1
2    14   16    0    5    7    4    4     50      55.56         1
5    20    2    5    3    2    9    9     50      55.56         1
7    18    4    4    7    7    1    8     49      54.44         1
8    22    9    2    7    6    5    7     58      64.44         1
17   21   15    2    2    4    2    6     52      57.78         1
18   20    4    3    5    3   11    4     50      55.56         1
24   20    2    7    5    3   11    2     50      55.56         1
31   15   13    3    1    3    9   10     54      60.00         1
36   22    9    6    6    1    4    8     56      62.22         1
37   19   12    5    7    1    6    2     52      57.78         1
39    4   16    2    4    6    9    8     49      54.44         1
40   18    3    6    3    6    5    6     47      52.22         1
42   20    6    7    7    2    3    3     48      53.33         1
45   17   10    0    2    6    9    4     48      53.33         1
48   17    6    0    7    5    9   11     55      61.11         1
60   16    8    0    4    4    7    9     48      53.33         1
62   17    6    2    4    7    1    9     46      51.11         1
67   21    0    7    2    4    2   10     46      51.11         1
70   21   14    0    3    5   11    8     62      68.89         1
71   17    8    7    6    4    2    9     53      58.89         1
77   15    2    5    7    6   11    7     53      58.89         1
78   14   16    7    2    7   11    9     66      73.33         1
81   22   16    2    0    4    1   10     55      61.11         1
88   20    1    1    5    7    9    7     50      55.56         1
93   12   16    5    5    6    6    6     56      62.22         1

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

### Resoluçao do exercício 3.1):

In [134]:
#arquivo = 'https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv'
arquivo = './registros_de_vacinacao_covid_ACRE.csv'

In [135]:
# 1) Sua solução aqui
df = pd.read_csv(arquivo, sep=';')

In [136]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,2692cc3c-63d4-49d7-94a0-bec3be88f734-i0b0,fee97da1458a107f9a69e3c7054d8a4306f0f66906010d...,38,1983-09-27,F,1,BRANCA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FL1939,PFIZER,Organization/28290,2021-12-31,Reforço,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
1,ca90ac97-7ac0-4c5c-a1d1-0788d1bcb738-i0b0,8ab80f91e862fea55e8f47e5b024dc18ad685769f26cbd...,65,1956-07-10,M,3,PARDA,120010.0,10.0,BRASILEIA,...,2.0,Faixa Etária,218VCD259Z,ASTRAZENECA/FIOCRUZ,Organization/149,2021-12-02,Reforço,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
2,349ebe4b-8e2d-4184-b5f6-9927142520de-i0b0,8a20bf6eb4d3cfbef45bf5a4fc49c4a65c3082699ec927...,30,1990-12-05,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,210400,SINOVAC/BUTANTAN,Organization/61189445000156,2021-09-07,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
3,cad53c2d-30b7-4781-81f6-60ed43519e3e-i0b0,5449f4493b40edeb8ab51773eaa7bd8bce675dc8cc5690...,16,2005-04-17,F,3,PARDA,120020.0,10.0,CRUZEIRO DO SUL,...,114.0,Outros,FA9096,PFIZER,Organization/00394544000851,2021-08-04,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
4,99d9a239-68b3-44f7-8f3a-7edc8d2ca091-i0b0,56a524cb2b6f6ad278b94213cd4c5f964cf4e451684824...,8,2014-02-08,F,5,INDIGENA,120033.0,10.0,MANCIO LIMA,...,NaN,NaN,FP8290,Pendente Identificação,Organization/28290,2022-02-21,1ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI

In [137]:
tot_vac = df['vacina_fabricante_nome'].nunique()
print(f'Há um total de {tot_vac} vacinas direferentes registradas na base de dados.')

Há um total de 13 vacinas direferentes registradas na base de dados.

### resoluçao da atividade 3.2):

In [144]:
# 2) 
tot_pcts = df['paciente_id'].nunique()
print(f'Foram vacinados um total de {tot_pcts} na base analisada.')

Foram vacinados um total de 316610 na base analisada.

### resoluçao da atividade 3.3):

In [154]:
desc = df['vacina_descricao_dose'].unique()
desc

array(['Reforço', '1ª Dose', 'Única', '2ª Dose', 'Dose Adicional',
       '2º Reforço', '1º Reforço', 'Dose', '3ª Dose', 'Revacinação',
       '1ª Dose Revacinação', '4ª Dose Revacinação',
       '2ª Dose Revacinação', '3º Reforço', '3ª Dose Revacinação',
       '5ª Dose Revacinação'], dtype=object)

In [158]:
first_dose = (df[['vacina_descricao_dose']] == '1ª Dose').astype(int)
qt_1dose = first_dose['vacina_descricao_dose'].sum()

print(f'Um total de {qt_1dose} de pacientes tomaram a primeira dose.')

Um total de 143578 de pacientes tomaram a primeira dose.

### resoluçao da atividade 3.4):

In [164]:
# 4) 
tot_menor_vac = (df["paciente_idade"] < 18).sum()
print(f'Segundo os registros, {tot_menor_vac} menores de 18 anos foram vacinados.')

Segundo os registros, 77413 menores de 18 anos foram vacinados.

### resoluçao da atividade 3.5):

In [171]:
# 5)
df.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [173]:
loc_vac = df['estabelecimento_razaoSocial'].nunique()
print(f'A vacinação foi realizada em {loc_vac} estabelecimentos no Acre.')

A vacinação foi realizada em 62 estabelecimentos no Acre.

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

### Resolução da atividade 4.1):

In [188]:
# 1) 
df_menor = df[df['paciente_idade']<18].copy()

### Resolução da atividade 4.2):

In [189]:
# 2) 
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

### Resolução da atividade 4.3):

In [190]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Faixa Etária                                      47608
Povos Indígenas                                    4700
Outros                                             3755
Povos e Comunidades Tradicionais                    822
Trabalhadores de Saúde                              254
Comorbidades                                         56
População Privada de Liberdade                       53
Gestantes                                            42
Pessoas com Deficiência                              11
Pessoas Institucionalizadas                           3
Trabalhadores da Educação                             2
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Name: count, dtype: int64

### Resolução da atividade 4.4):

In [191]:
# 4)
ref_estabelecimento = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
ref_estabelecimento

['estabelecimento_valor',
 'estabelecimento_razaoSocial',
 'estalecimento_noFantasia',
 'estabelecimento_municipio_codigo',
 'estabelecimento_municipio_nome',
 'estabelecimento_uf']

### Resolução da atividade 4.5):

In [186]:
df_menor.loc[:,ref_estabelecimento]

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
3,7375913,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,UNIDADE DE SAUDE DA CLOVIS PINHEIRO ROSAS,120020,CRUZEIRO DO SUL,AC
4,6955525,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,POLO BASE DE MANCIO LIMA,120033,MANCIO LIMA,AC
7,3810771,PREFEITURA MUNICIPAL DE TARAUACA,UNIDADE DE S DA FAMILIA DR JOSE LEONCIO GOMES ...,120060,TARAUACA,AC
9,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
11,2001748,PREFEITURA MUNICIPAL DE PORTO WALTER,UBS VICENTE VARELA DE ALMEIDA,120039,PORTO WALTER,AC
...,...,...,...,...,...,...
387270,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
387273,2000318,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,UNIDADE DA SAUDE DA FAMILIA PASTOR JOAO BRAZ,120020,CRUZEIRO DO SUL,AC
387275,2000660,PREFEITURA MUNICIPAL DE SENADOR GUIOMARD,CENTRO DE SAUDE MARIA DO SOCORRO CAVALCANTE,120045,SENADOR GUIOMARD,AC
387279,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
387290,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC

### Resolução da atividade 4.6):

In [196]:
# Aplicação do método .drop_duplicates
df_menor = df_menor.drop_duplicates()
df_menor.shape

(77413, 32)

In [197]:
# Df com uma linha para cada estabelecimento
df_establecimento = df_menor[['estabelecimento_razaoSocial']]
df_establecimento

                              estabelecimento_razaoSocial
3                 PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL
4       DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...
7                        PREFEITURA MUNICIPAL DE TARAUACA
9                      PREFEITURA MUNICIPAL DE RIO BRANCO
11                   PREFEITURA MUNICIPAL DE PORTO WALTER
...                                                   ...
387270                 PREFEITURA MUNICIPAL DE RIO BRANCO
387273            PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL
387275           PREFEITURA MUNICIPAL DE SENADOR GUIOMARD
387279                 PREFEITURA MUNICIPAL DE RIO BRANCO
387290                 PREFEITURA MUNICIPAL DE RIO BRANCO

[77413 rows x 1 columns]